/* Variables */

:root {
  --basic-white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --transparent-text: rgba(255, 255, 255, 0.3);
  --transperent-black: rgba(0, 0, 0, 0.3);
  --sky-blue: #81B3D2;
  --blue: #669EC0;
  --extra-blue: #5496BD;
  --light-bronze: #766357;
  --bronze: #604E43;
  --dark-bronze: #503E33;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-gray: #EEEEEE;
  --basic-light-gray: #FFFFFF;
  --basic-extra-gray: #F2F2F2;
  --canyon:  #A6D2F0;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0 40px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-extra-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

/* Logo */

.main-header-logo {
  position: absolute;
  align-self: center;
  width: 138px;
  height: 70px;
  }

/* Navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--sky-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a.selected {
  color: var(--light-bronze);
}


/* Main */



/* Advantages */

.slogan {
  display: flex;
  justify-content: center;
  background-color: var(--canyon);
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
 }

.main-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.advantages-main-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  background-color: var(--basic-white);
}

.advantages-title,
.real-town-title {
  font-size: 21px;
  color: var(--basic-black)
}

.advantages-list,
.real-town-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.real-town-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.blue-block {
  width: 400px;
  color:var(--basic-white);
  background-color: var( --sky-blue);
}

.blue-block-title {
  color: var(--basic-white);
}

.real-town {
  width: 1200px;
  background-color: var( --basic-white);
}

.bridge{
  order: -1;
}

.without-img {
  width: 400px;
}
/* Hotel Search */

.searcher {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
}

.interested {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.hotel-search-link {
  width: 568px;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background: var(--light-bronze);
  color: var(--basic-white);
  text-transform: uppercase;
}

.hotel-search-link:hover,
.hotel-search-link:focus {
  background-color: var(--bronze);
}


.hotel-search-link:active {
  background-color: var(--dark-bronze);
  color: var(--transparent-text);
}

.hotel-search {
  width: 568px;
  background-color: var(--basic-white);
}

.hotel-search label,
.hotel-search input {
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}

.button-icon {
  width: 21px;
  height: 23px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.input-icon {
  width: 346px;
}

.find {
  width: 468px;
  background: var(--sky-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.find:hover,
.find:focus {
  background-color: var(--blue);
}

.find:active {
  background-color: var(--extra-blue);
  color: var(--transparent-text)
}


/* Main footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--transparent-white);
  color: var(--basic-black);
 }

.footer-contacts{
  margin: 0;
  justify-self: start;
}

.footer-contacts p {
  margin: 0;
}

.main-footer a {
  color: var(--basic-black);
}

.footer-list {
  justify-self: center;
  align-content: center;
  display: flex;
  list-style: none;
}

.developer {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;            ;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 46px;
  height: 46px;
  background-color: var(--sky-blue);
}

.social:hover,
.social:focus {
  background-color: var(--blue);
}

.social:active {
  background-color: var(--extra-blue);
}

.social svg {
  fill: var(--basic-white)
}

.social:active svg {
  fill: var(--transparent-text);
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.developer svg:hover path {
  fill:var(--sky-blue);
}

.developer svg:active path {
  fill: #bdbbbc;
}

/* Main hotels */

.forms {
  background-image: url("../img/background-hotel.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--canyon);
}

.filter {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white)
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  font-weight: bold;
}


.filter-list {
  list-style: none;
}
.sort {
  display: flex;
  align-items: center;
  background-color: var(--basic-white);
}

.sort-result {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}


.sort-list {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-list-link {
  color: var(--transperent-black);
}

.sort-list-link:hover,
.sort-list-link:focus {
  color: var(--sky-blue);
}

.sort-list-link:active {
  color: var(--basic-black);
}

.present-hotels {
  background-color: var(--basic-white);
}

.present-hotels ul{
  margin: 0;
  padding: 0;
}

.present-hotels-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.present-hotels-link {
  grid-area: head;
}

.present-pict {
  grid-area: pict;
}

.hotel-class {
  grid-area: hotel;
}

.hotel-detailed {
  grid-area: detailed;
}

.hotel-booking {
  grid-area: booking;
}

.present-hotels-item {
  display: grid;
  grid-template-columns: 140px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "pict head head"
    "pict hotel hotel"
    "pict detailed booking";
}

.present-hotels-item h3 {
  margin: 0;
  padding: 0;
}

.found,
.present-hotels-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.present-hotels-link:hover,
.present-hotels-link:focus {
  color: var(--sky-blue);
}

.present-hotels-link:active{
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-detailed,
.hotel-booking {
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  background-color: var(--sky-blue);
  color: var(--basic-white);
  text-transform: uppercase;
}


.hotel-detailed:hover,
.hotel-detailed:focus {
  background-color: var(--blue);
}

.hotel-detailed:active {
  background-color: var(--extra-blue);
  color: var(--transparent-text);
}

.hotel-booking {
  width: 142px;
  background-color: var(--light-bronze);
}

.hotel-booking:hover,
.hotel-booking:focus {
  background-color: var(--bronze);
}
.hotel-booking:active {
  background-color: var(--dark-bronze);
  color: var(--transparent-text);
}

.hotel-footer {
  background-color: var(--basic-white);
}
